@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo {
    font-weight: 700;
    font-size: 3 rem;
}

.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 8px;
    padding: 20px 24px;
    border: none;
    color: white;
}

.btn-secondary {
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 45px 42px;
    border: none;
    margin-left: -100px;
    margin-top: -100px;

}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-titles {
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: 700;

}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.navitems {
    list-style: none;
    margin-right: 30px;
}

.navlink {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

/* banner detail */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-describtion {
    margin-bottom: 20px;
}

.banner-image {
    width: 100%;
}

/* our  teams and feature detail */
.teams {
    align-items: center;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#quick-list {
    font-weight: 500;

}

.orage-bld {
    color: #FF900E;
}

.feacture-describtion {
    margin-bottom: 30px;
}

/* feature detail */
.feature-container {
    margin-top: 130px;
    gap: 140px;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.faeture-card-tittle {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-container {
    gap: 140px
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}

#how-year {
    font-size: 3rem;
    font-weight: 700;
}

.feature-artecture img {
    width: 100%;
}

.feature-card {
    border-radius: 8px;
    padding: 24px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}


/* facts detail */
.fact-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-container .fact {
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.fact .fact-number {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}

.fact .fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
}

/* sponser detail */
.sponspor-tittle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2px;

}

.sponspor-info {
    max-width: 550px;
    margin: 50px auto;
    text-align: center;
}

.sponspor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 130px;
}

.sponspor-companies img {
    filter: grayscale(100%);
}



@media screen and (max-width:576px) {

    .teams,
    .feature-container,
    .navlinks,
    .navbar {
        flex-direction: column;
    }

    .btn-secondary {
        margin-top: 20px;
        margin-left: 20px;
    }

    .teams-img-container,
    .fact-container,
    .sponspor-companies {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .sponspor-companies {
        gap: 50px;
    }

    main>section {
        margin-top: 100px;
    }

    .our-features {
        margin: 20px;
    }

    .fact-container {
        margin-top: 30px;
    }


}

/* medium size */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams,.feature-container {
        flex-direction: column;
    }

    .fact-container,
    .sponspor-companies {
        grid-template-columns: repeat(2, 1fr);

        justify-items: center;

    }

    .sponspor-companies,
    .fact-container {
        gap: 70px;
    }

    .our-features {
        margin: 50px auto;
    }

    .teams .teams-img-container {
        margin: auto 50px;
    }

    .btn-secondary {
        margin-top: 20px;
        margin-left: 20px;
    }

}